In [1]:
# Importing all the required libraries 
import pandas as pd
import numpy as np
import pyreadstat
import re

In [2]:
# read all the data that have max range
pd.set_option('display.max_colwidth', -1)
# IPpath = "r'C:\Users\Ashish.Tyagi\Desktop\Projects\Essence\423821_ford\19021238_Merged_Data.sav'"
# OPpath = "r'C:\Users\Ashish.Tyagi\Desktop\Projects\Essence\423821_ford\Ford_stack'"

In [3]:
# data = pd.read_excel("C:/Users/Ashish.Tyagi/Desktop/Projects/Essence/1907970.xlsx")
# data_record_stack.to_excel("C:/Users/Ashish.Tyagi/Desktop/Projects/Essence/stack1.xlsx")
# df, meta = pyreadstat.read_sav("C:/Users/Ashish.Tyagi/Desktop/Projects/Essence/SPSS/1908179.sav")

In [4]:
# load all SPSS data in df dataframe and all the related info in meta 
df_1, meta_1 = pyreadstat.read_sav(r"C:\Users\Ashish.Tyagi\Desktop\Projects\Essence\423821_ford\19021238_Merged_Data.sav", apply_value_formats=True, formats_as_category=True)

In [5]:
df_1.head()

,record,uuid,status,Country,qtimeMin,rnid,Type,Device,vStart_Date,qSHR,...,DeviceType_mobile_phone,DeviceType_personal_computer,DeviceType_set_top_box,DeviceType_smart_tv,DeviceType_smartphone,DeviceType_tablet,DeviceType_tv,DeviceType_unknown,Channel_inapp,Channel_web
0,8.0,muf2m1b1ud7v8yvp,Qualified,USA,4.05,EPO79JYMDG4BRNN4P2,Exposed,NaN,2019/03/07 16:52:00,Only I use it,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,13.0,7dd6kx88c2gmvnu9,Qualified,USA,7.31,EPO79PCWQ2BLYX34P7,Exposed,NaN,2019/03/07 17:44:00,Only I use it,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,15.0,tqmb29bbe28wxn8w,Qualified,USA,13.01,EPO79VYK2R9GH5M4P2,Exposed,NaN,2019/03/07 19:11:00,"I mostly use it, but sometimes share it",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,20.0,6nyp9nnmg684bm4h,Qualified,USA,5.00,EPO7CHBDGSVDBCC4P1,Exposed,NaN,2019/03/08 08:12:00,Only I use it,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
4,28.0,b006dk71x43eh75x,Qualified,USA,9.78,EPO7CS4XK4HNSM24P8,Exposed,NaN,2019/03/08 09:35:00,Only I use it,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0

In [6]:
df_1.columns

Index(['record', 'uuid', 'status', 'Country', 'qtimeMin', 'rnid', 'Type',
       'Device', 'vStart_Date', 'qSHR',
       ...
       'DeviceType_mobile_phone', 'DeviceType_personal_computer',
       'DeviceType_set_top_box', 'DeviceType_smart_tv',
       'DeviceType_smartphone', 'DeviceType_tablet', 'DeviceType_tv',
       'DeviceType_unknown', 'Channel_inapp', 'Channel_web'],
      dtype='object', length=695)

In [7]:
# df_1.set_index("record", inplace=True)

In [8]:
df_1.shape

(4510, 695)

In [9]:
# print(df.head())
# print(meta_1.column_labels)
# print(meta_1.column_names)
# print(meta_1.column_names_to_labels)
# print(meta_1.number_rows)
# print(meta_1.number_columns)
# print(meta_1.file_label)
# print(meta_1.file_encoding)
# meta_1.file_format
# meta_1.missing_ranges
# meta_1.missing_user_values
# meta_1.notes
# meta_1.original_variable_types
# meta_1.table_name
# print(meta_1.variable_alignment)
# meta_1.variable_to_label   # # most importent 
# print(meta_1.variable_value_labels)   # # most importent 

# meta_1.value_labels

In [10]:
# Create a dataframe that have all the variale value labels ------ this is to work on question_type column
VVL = pd.DataFrame.from_dict(meta_1.variable_value_labels, orient='index')
VVL.loc[(~ VVL[0.0].isin(["Not selected"])), 0.0] = np.nan
VVL.loc[(VVL[0.0].isin(["Not selected"])), 0.0] = "Multi-Select"
VVL.reset_index(inplace=True)
VVL.rename(columns = {"index": "Variable", 0.0: "question_type"}, inplace=True)
VVL = VVL[["Variable", "question_type"]]
# ############# VVL.dropna(axis=0, inplace=True, how='any')
VVL.to_excel(r"C:\Users\Ashish.Tyagi\Desktop\Projects\Essence\423821_ford\VVL.xlsx")
VVL.head()

      Variable question_type
0  Country      NaN
1  DMA          NaN
2  Device       NaN
3  QMAKNoner99  Multi-Select
4  STATE        NaN

In [11]:
# Stack the dataframe df and save it into df_stack dataframe
df_stack = df_1.stack()

In [12]:
print(df_stack.index[1])

(0, 'uuid')

In [13]:
# meta_1.column_names

In [14]:
# print(df_stack)

In [15]:
# Save it as dataframe
df_stack_df = pd.DataFrame(df_stack)

In [16]:
# reset the index of dataframe
df_stack_df = df_stack_df.reset_index()

In [17]:
################ df_stack_df["question_type"] = "Single Select"

In [18]:
# Change the column values
cols = ["Record_ID", "Variable", "Data"]
df_stack_df.columns = cols
df_stack_df.columns

Index(['Record_ID', 'Variable', 'Data'], dtype='object')

In [19]:
# "Record_ID" start from 0, adding 1 to start from 1
df_stack_df["Record_ID"] = df_stack_df["Record_ID"] + 1

In [20]:
len(meta_1.column_names)
len(meta_1.column_labels)

695

In [21]:
# Create as dataframe "meta_df" in it we have variables name and column labels
meta_df = pd.DataFrame({"Variable":meta_1.column_names, "column_labels":meta_1.column_labels})

In [22]:
meta_df.head()

   Variable                              column_labels
0  record    record: Record number
1  uuid      uuid: Respondent identifier
2  status    status: Participant status
3  Country   Country: Country from URL
4  qtimeMin  qtimeMin: Total Interview Time in Minutes

In [23]:
# merge dataframe into main df on the bases of 'Variable'
df_stack_df = df_stack_df.merge(meta_df, on='Variable')

In [24]:
df_stack_df.head()

   Record_ID Variable Data          column_labels
0  1          record   8    record: Record number
1  2          record   13   record: Record number
2  3          record   15   record: Record number
3  4          record   20   record: Record number
4  5          record   28   record: Record number

In [25]:
df_stack_df = df_stack_df.merge(VVL, on='Variable', how='left')

In [26]:
df_stack_df.head()

   Record_ID Variable Data          column_labels question_type
0  1          record   8    record: Record number  NaN
1  2          record   13   record: Record number  NaN
2  3          record   15   record: Record number  NaN
3  4          record   20   record: Record number  NaN
4  5          record   28   record: Record number  NaN

In [27]:
# print(df_stack_df2[df_stack_df2["question_type"] == 'Multi-Select'])
# df_stack_df["question_type"].unique()
# df_stack_df2.shape
df_stack_df['question_type'].fillna(value='Single Select', inplace=True)

In [28]:
dummy = "dQualifiedBrandsr1: Mastercard - To punch Brands selected 2-7 in SC1"
# dummy.split()[1]
re.split(r":|-",dummy)[1]              # output will be ------> 'Mastercard'

' Mastercard '

In [29]:
df_stack_df.head()

   Record_ID Variable Data          column_labels  question_type
0  1          record   8    record: Record number  Single Select
1  2          record   13   record: Record number  Single Select
2  3          record   15   record: Record number  Single Select
3  4          record   20   record: Record number  Single Select
4  5          record   28   record: Record number  Single Select

In [30]:
# Change the type of column
df_stack_df["Data"] = df_stack_df["Data"].astype(str)

In [31]:
# get the column label if respondent selected a brand instead of 'Selected'
dum = df_stack_df.loc[(df_stack_df["Data"].isin(["Selected", "selected"])), "column_labels"]
dum2 = dum.str.split(r":|-")
dum3 = dum2.str.get(1)
dum3 = dum3.str.strip()

In [32]:
# add the column labels in the main data frame
df_stack_df.loc[(df_stack_df["Data"].isin(["Selected", "selected"])), "Data"] = dum3

In [33]:
# Remove all the cells that respondent "Not selected" in multiselect questions
df_stack_df.drop(df_stack_df[df_stack_df["Data"] == "Not selected"].index, inplace=True)

In [34]:
df_stack_df.head()

   Record_ID Variable  Data          column_labels  question_type
0  1          record   8.0   record: Record number  Single Select
1  2          record   13.0  record: Record number  Single Select
2  3          record   15.0  record: Record number  Single Select
3  4          record   20.0  record: Record number  Single Select
4  5          record   28.0  record: Record number  Single Select

In [35]:
# ceate all the required columns with their default values
df_stack_df["study_id"] = "Essence_#"
df_stack_df["study_name"] = "Essence"
df_stack_df["audience"] = ""
df_stack_df["placement_id"] = ""
df_stack_df["question_number"] = ""
df_stack_df["Desired_Answer"] = ""
df_stack_df["goal"] = ""
df_stack_df["user_wieght"] = ""

In [36]:
df_stack_df.columns

Index(['Record_ID', 'Variable', 'Data', 'column_labels', 'question_type',
       'study_id', 'study_name', 'audience', 'placement_id', 'question_number',
       'Desired_Answer', 'goal', 'user_wieght'],
      dtype='object')

In [37]:
df_stack_df.head()

,Record_ID,Variable,Data,column_labels,question_type,study_id,study_name,audience,placement_id,question_number,Desired_Answer,goal,user_wieght
0,1,record,8.0,record: Record number,Single Select,Essence_#,Essence,,,,,,
1,2,record,13.0,record: Record number,Single Select,Essence_#,Essence,,,,,,
2,3,record,15.0,record: Record number,Single Select,Essence_#,Essence,,,,,,
3,4,record,20.0,record: Record number,Single Select,Essence_#,Essence,,,,,,
4,5,record,28.0,record: Record number,Single Select,Essence_#,Essence,,,,,,

In [38]:
# Add country, Date and record id accordign to the respondent
l = list(range(1, len(df_stack_df["Record_ID"].unique())+1))
dum_df = pd.DataFrame({"Record_ID": l})
dum_country = df_stack_df.loc[(df_stack_df["Variable"].isin(["Country", "country"])), ["Record_ID","Data"]]

######### in many studies below line can give error because of name is different 
######### vStart_Date or start_date or Start_Date
dum_date = df_stack_df.loc[(df_stack_df["Variable"].isin(["vStart_Date", "Start_Date", "start_date", "Start_date"])), ["Record_ID","Data"]]
dum_record = df_stack_df.loc[(df_stack_df["Variable"].isin(["record", "Record"])), ["Record_ID","Data"]]
dum_record['Data'] = dum_record['Data'].str.replace(r'\.0', '')
dum_df = dum_df.merge(dum_country, on='Record_ID')
dum_df = dum_df.merge(dum_date, on='Record_ID')
dum_df = dum_df.merge(dum_record, on='Record_ID')
dum_df.rename(columns = {"Data_x":"country", "Data_y":"date", "Data":"Record"}, inplace=True)

In [39]:
dum_country.head()

       Record_ID Data
13530  1          USA
13531  2          USA
13532  3          USA
13533  4          USA
13534  5          USA

In [40]:
dum_date.head()

       Record_ID                 Data
28639  1          2019/03/07 16:52:00
28640  2          2019/03/07 17:44:00
28641  3          2019/03/07 19:11:00
28642  4          2019/03/08 08:12:00
28643  5          2019/03/08 09:35:00

In [41]:
dum_record.head()

   Record_ID Data
0  1          8
1  2          13
2  3          15
3  4          20
4  5          28

In [42]:
dum_df.head()

   Record_ID country                 date Record
0  1          USA     2019/03/07 16:52:00  8
1  2          USA     2019/03/07 17:44:00  13
2  3          USA     2019/03/07 19:11:00  15
3  4          USA     2019/03/08 08:12:00  20
4  5          USA     2019/03/08 09:35:00  28

In [43]:
# merge it into the main data frame on the bases of Record_ID
df_stack_df = df_stack_df.merge(dum_df, on='Record_ID', validate="m:1")

In [44]:
# Rename the columns name
df_stack_df.rename(columns = {"Record_ID": "user_id", "Variable": "question_category", "Data": "Answer", "column_labels": "Question"}, inplace=True)

In [45]:
df_stack_df["Record"] = df_stack_df["Record"].astype(str)
df_stack_df["Record"] = "user_" + df_stack_df["Record"]

In [46]:
# Change the sequence of columns as per the requirements
cols = ["study_id", "study_name", "country", "audience", "placement_id", "date", "user_id", "Record", "question_number", "question_category", "goal", "Question", "question_type", "Answer", "Desired_Answer", "user_wieght"]

In [47]:
# remove '.0' from the last of record id
df_stack_df.loc[(df_stack_df['question_category'] == "record"), "Answer"] = df_stack_df.loc[(df_stack_df['question_category'] == "record"), "Answer"].str.replace(r'\.0', '')

In [48]:
# Add question numbers
df_stack_df["question_number"] = df_stack_df.groupby(["user_id"]).cumcount() + 1

In [49]:
# Save the output in required format
df_stack_df.to_excel(r"C:\Users\Ashish.Tyagi\Desktop\Projects\Essence\423821_ford\stack1_new.xlsx", index=False, columns=cols)
# pyreadstat.write_sav(df_stack_df, "C:\Users\Ashish.Tyagi\Desktop\Projects\Essence\423821_ford\stack1.sav", file_label="test", column_labels=["Record_ID", "Variable", "Data", "Question"])
df_stack_df.to_csv(r"C:\Users\Ashish.Tyagi\Desktop\Projects\Essence\423821_ford\stack1_new.txt", sep="\t", index=False, columns=cols)

In [50]:
# df_stack_df.sort_index(inplace=True, axis=0)
# df_stack_df.sort_values(by=["Record_ID"], inplace=True,axis=0,ascending=True)
# df_stack_df